/* Formatação de Paragráfo */

p {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    text-align: center;
}

h1, h2 {
    color: #4E3EF7;
    font-family: 'Times New Roman', Times, serif;
}